@import "../../index.scss";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

.home-root {
	max-height: 100vh;
	overflow: hidden;

	.data-root {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		padding: 30px 10px;

		.profile-image {
			border-radius: 50%;
			overflow: hidden;

			img {
				width: auto;
				height: 25vh;
				opacity: 1;
			}
		}

		.text {
			margin-top: 20px;
			p {
				margin: 0;
				text-align: center;
				color: $secondary;
				font-family: "Montserrat", sans-serif;
				text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			}
			.title {
				font-size: 2rem;
			}
			.sub-title {
				margin: 20px 0px 20px 0px;
			}
		}

		.links-root {
			padding: 0px 70px;
			width: 100%;

			.card-root:active {
				background-color: $terciary;
				transform: translateY(4px);
			}
		}

		.copied-item {
			background-color: rgb(41, 190, 98);
			color: $white;
			font-weight: bold;
			padding: 5px 20px;
			border-radius: 5px;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

			transition: visibility linear 300ms, opacity 300ms;
			visibility: hidden;
			opacity: 0;
			
			&.active {
				visibility: visible;
				opacity: 1;
				transition: visibility linear 300ms, opacity 300ms;
			}
		}
	}

	.logo {
		opacity: 0.4;
		z-index: -1;
	}

	.mic {
		position: absolute;
		top: -5px;
		left: 0px;

		animation: mic-movement 1s ease-in-out alternate infinite;

		img {
			height: auto;
			max-height: 40vh;
			width: 30vw;
		}
	}

	.music-symbol {
		position: absolute;
		bottom: 50px;
		left: 0px;
		img {
			width: 100vw;
			height: auto;
		}
	}
}

@keyframes mic-movement {
	from {
		transform: rotate(3deg);
	}

	to {
		transform: rotate(-3deg);
	}
}

@media only screen and (min-width: 768px) {
	// Desktop and tablets
	.home-root {
		.data-root {
			.links-root {
				max-width: 50%;
			}
		}

		.music-symbol {
			img {
				width: 30vw;
			}
		}
	}
}
